{"launchAfterInstallation":1,"updateBundleURL":"file:\/\/\/Users\/mac\/Library\/Caches\/com.baidu.BaiduNetdisk-mac.ShipIt\/update.zrsvSmL\/BaiduNetdisk_mac.app\/","useUpdateBundleName":1,"bundleIdentifier":"com.baidu.BaiduNetdisk-mac","targetBundleURL":"file:\/\/\/Applications\/BaiduNetdisk_mac.app\/"}